@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color:#fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.gameBtn {
  color:#fff;
  font-size: 3rem !important;
}

.gameBtn.X{
  color: #4f91f9 !important;
}

.gameBtn.O{
  color: #ff8c27 !important;
}

.historyBtn {
  transition: all 200ms ease;
}
.historyBtn:hover{
  border-bottom:solid #5C80BC 2px !important;
}